@font-face {
    font-family: "OpenSansCondensed-Bold";
    src: url('../fonts/OpenSansCondensed-Bold.ttf');
}
@font-face {
    font-family: "OpenSansCondensed-Light";
    src: url('../fonts/OpenSansCondensed-Light.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family:"OpenSansCondensed-Light", sans-serif;
    font-size: 14px;
}
.strong, h1, h2, h3, h4, h5, h6 {
    font-family: "OpenSansCondensed-Bold", sans-serif;
}




.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.flex-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sections {
    padding-top: 100px;
    padding-bottom: 100px;
}
.section__title {
    color: goldenrod;
    text-align: center;
}


.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
}
.header a, .footer a {
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}
.logo {
    color: white;
}
/*меню*/
.navigation {
    max-width: 50%;
    width: 100%;
}
.nav__link {
    color:goldenrod;
}
.btn {
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 18px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}
.btn--primary {
    background: goldenrod;
    color: azure;

}
.btn--secondary {
    background: transparent;
    border: 1px solid goldenrod;
    text-decoration: none;
    color: black;
    margin-top: 20px;

}
/*1*/
/*секция промо*/
.promo {
    position: relative;
    margin-top: -61px;
    padding-top: 200px;
    padding-bottom: 400px;
    background: url('../images/people/5.jpg') no-repeat center /cover;
    

}
.promo::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(256, 256, 256, 0.5);
}
.promo__block {
    position: relative;
    z-index: 998;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 250px;
    color: goldenrod;
   
}
.promo__title {
    font-size: 48px;
    margin-bottom: 30px;
}
.section_title {
    font-size: 32px;
    margin-bottom: 20px;
}

.text_promo {
    font-size: 20px;
    color:black;
    letter-spacing:0.2ex;
    font-weight: bold;
      
}
.comment__card {
    border: 1px solid azure;
    border-radius: 20px;
}
.comment__card > strong {
    color: blue;
    font-size: 22px;
   
}
.promo_card {
    position: relative;
    z-index: 998;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%;
    width: 100%;
    padding-top: 20px;
    
  
    
}
.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    
}
/*поиск локации*/
.form__section {
    padding-top: 100px;
   padding-bottom: 100px;
}
.form  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.form__input {
    max-width: 350px;
    width: 100%; 
    font-size: 24px;
 }
 .input__group {
     width: 60%;  
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 24px;
     margin-bottom: 20px;
 }
 .form > .buttons {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center; 
 }


/*алгоритм выбора*/
.algoritm {
    padding-bottom: 100px;
    background: rgba(0, 0, 0, 0.2);
    
}
.algoritm-blok {
    flex-direction: column;
    padding-top: 100px;
    height: 100%;
}
.algoritm__list {
    font-size: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
}
/*информация о компании*/
.info {
    position: relative;
    min-height: 800px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 18px;
    background: url('../images/people/5.jpg')  no-repeat center /cover;
}
.info::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
}
.info-section__block {
    flex-direction: column;
    position: relative;
    z-index: 998;
    min-height: 600px;
    background: rgba(0, 0, 0, 0.4);
    padding-bottom: 220px;
}
.target {
   font-size: 24px;
   

}
.target >strong {
    color: aqua;
    margin-bottom: 10px;
}
.info_block {
    flex-direction: column;
    align-items: center;
    
}
.info .section__title {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}
.comment_area {
    display: flex;
    flex-wrap: wrap;
}
.comments__block {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    
}
.comment__card {
    width: 30%;
    padding: 10px 10px 10px 10px;
    
   
 
}
.card__img-block {
    height: 200px;
    margin-bottom: 70px;
    margin-top: 50px;
    
}
.card__img-block > img {
   width: 80%;
   min-height: 50%;
   margin-left: 15px;
   
}
.card__desck {
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 20px;
    letter-spacing:0.2ex;
    font-style: italic;
 

}
.comments__block1 {
    width: 25%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    text-align: start;
    
    
}
.card__img-area {
    width: 100%;
    margin-left: 30px;
}
/*footer*/
.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(0, 0, 0, 0.7);
    
}
.footer__navigation {
    max-width: 25%;
}
.footer_form {
    max-width: 40%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.footer__email {
    max-width: 60%;
    width: 100%;
    font-size: 18px;
    padding-top: 5px;padding-bottom: 5px;
    border-radius: 5px;
}
/*Результат поиска*/
.result {
    position: relative;
    margin-top: -60px;
    padding-top: 400px;
    padding-bottom: 200px;
    max-width: 100%;
    height: 100%;
    background: url('../images/people/10.jpg') no-repeat center /cover;
}

.result__block {
    position: relative;
    z-index: 998;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: rgba(256 256 256 / 0.50%);*/
    display: flex;
    flex-direction: column;
    font-size: 24px;
    background: rgba(256, 256, 256, 0.6);
   
   

}
.block_lokacii {
    display:flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
}
.result__locacia {
    max-width: 24%;
    width: 100%;
    min-height: 350px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border: 1px solid aqua;
    border-radius: 5px;
    padding-bottom: 20px;
   margin-top: 20px;

}
.group__result > h3 {
  
    font-size: 22px;
    
}
.group__result > p {
    font-size: 24px;
}
.group__result  {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.result_img {
    max-width: 100%;
    width: 100%;
    max-height: 300px;
}
.imgloc{
    max-width: 100%;
}
/*выбор зоны 2 страница*/

.zones {
    position: relative;
    margin-top: -60px;
    padding-top: 400px;
    padding-bottom: 200px;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: ghostwhite;  
    background: url('../images/people/2.jpg') no-repeat center /cover;
    
    
}
.zones__block {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    background: rgba(0, 0, 0,  0.50);
    padding-bottom: 30px;
}
.zones__block::after {
    position: relative;
    z-index: 99;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    
}
.zones__search {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.zone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 20px;

}
.zone > h3 {
    margin-right: 20px;

}
.block_zone {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid goldenrod;
    border-radius: 20px
    ;
    margin-top:  30px;
}
.block_name-zone {
max-width: 80%;
width: 100%;
display: flex;
justify-content: space-between;
flex-direction: column;

}
/*бронирование*/
.order {
    position: relative;
min-height: 100vh;
padding-top: 300px;
background: url('../images/people/8.jpg') no-repeat center /cover fixed;
color: seashell;
font-size: 18px;
}

.order::after {
position: absolute;
content: "";
top: 0;
left: 0;
width: 100%;
height: 100%;
background:rgba(0, 0, 0, 0.4);

}
.order__block {
position: relative;
z-index: 2;
flex-direction: column;
align-items: start;
}
.bron {
    color: aqua;
}
.rows__block {
background: rgba(200, 200, 200, 0.4);
width: 100%;
padding-top: 40px;
padding-bottom: 40px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 20px;
margin-bottom: 40px;
}
.row {
display: flex;
align-items: center;
justify-content: space-between;
max-width: 950px;
width: 100%;
border: 1px solid goldenrod;;
border-radius: 10px;
padding: 10px;
margin-bottom: 10px;
}
.title {
font-size:32px ;
max-width: 40%;

}
.desc_order {
font-size: 26px;
max-width: 40%;

}
.inputs {
width: 80%;
justify-content: start;


font-size: 20px;
}
.order__input {
margin-left: 25%;
margin-right: 15px;
}
.input * {
cursor: pointer; 
}
.mail{
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}
.buttons {
margin: 20px;
}